header {
  color: black;
  text-align: center;
  font-size: 25px;
  background-color: bisque;
  top: 0;
}
  
body {
  background-color: powderblue;
  min-height: 100vh;
  max-width: 100%;
  border: 1px solid;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0px;
 
}

form {
  text-align: center;
}

table {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th {
  background-color: #04AA6D;
  color: white;
}

td {
  border: 1px solid;
  background-color: bisque;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  font-size: 20px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: #04AA6D;
}
  
div img {
  width:100%;
  position: static;
  margin:25px auto ;  
  text-align:center;
}

iframe {
  width:100%;
  position: static;
  margin:25px auto ;  
  text-align:center;
}

footer {
  position: relative;
  width: inherit;
  max-width: inherit;
  bottom: 0px;
  width: 100%;
  border: 1px solid;
  background-color: beige;
  text-align: center;
}

.fa {
  margin-bottom: 20px; 
  margin-right: 30px ;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}



main {
  margin-left: 120px;
}

.container{
display: flex;
align-items: stretch;
}
.container div{
  padding: 10px 10px 0;
}
.container box1{
  border: 1px solid black;
  background: beige;
}
.container box2{
  border: 1px solid black;
  background: beige;
}

@media screen and (hover) {
    h2:hover,.{
      color: brown;
      width: 600px;
     }
    a:hover{
      color: brown;
    }  
  }

  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  * {
    box-sizing: border-box;
  }
  
  .main {
    max-width: 800px;
    margin: auto;
    text-align: center;
    align-items: center; 
  }
  
  
  
  .row {
    margin: 8px;
    
  }
  
 
  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 25%;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .content {
    background-color: white;
    padding: 10px;
    height: 500px;
    overflow: auto;
  }

  h2{
    text-align: center;
  }
  
 
  
  
  
  