h1 {
  color: black;
  text-align: center;
  font-size: 30px;
  background-color: bisque;
}
  
body {
  background-color: powderblue;
}

p {
  color: black;
  font-size: 20px;
}

form {
  text-align: center;
}

table {
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th {
  background-color: #04AA6D;
  color: white;
}

td {
  border: 1px solid;
  background-color: bisque;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
  font-size: 20px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
}

li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: #04AA6D;
}
  
div img {
  width:100%;
  position: static;
  margin:25px auto ;  
  text-align:center;
}

iframe {
  width:100%;
  position: static;
  margin:25px auto ;  
  text-align:center;
}


footer {
  position: fixed;
  width: 100%;
  background-color: bisque;
  bottom: 0%;

}

ul {
  border: 1px solid;
  background-color: beige;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.conditions{
  justify-content: flex-start;
}

div.section {
  justify-content: flex-end;
}